.container {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 1em;
  -webkit-box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.18);
  margin-bottom: 1em;
  background-color: #fdfdfd;
  cursor: pointer;
  border-radius: 1em;
}

.container:hover {
  transform: scale(1.01);
}

img {
  height: 350px;
  width: 250px;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.brand {
  color: #787a91;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.name {
  font-size: 1rem;
  margin-bottom: 1.2em;
  color: black;
}

.price {
  font-weight: bold;
  font-size: 1.5rem;
}

@media only screen and (max-width: 500px) {
  .container {
    max-width: 420px;
    padding: 3em 0.5em 1em;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    max-width: 320px;
    padding: 0.5em 0.5em 0.5em;
  }
}
